@{
    ViewBag.Title = "Programas Estrategicos";
}

<div class="light-box-form">
    
    @using (Html.BeginForm("Create", "ProgramasEstrategicos")){
        <fieldset>

            <legend>Programa estratégico</legend>
       
            <div class="form-group">
                @Html.Label("Nombre:")
                <input name="Nombre" type="text" class="form-control"/>
                @Html.ValidationMessage("Nombre")
 
            </div>

            <div class="form-group">
                @Html.Label("Descripción:")
                <textarea cols="40" rows="5" name="Descripcion" class="form-control"></textarea>
                @Html.ValidationMessage("Descripcion")
            </div>

            @Html.CheckBox("Activo")
            <b>
                @Html.Label("Activo")<br/>
            </b>

            <input type="submit" class="btn btn-primary" value="Guardar"> 
            <input type="button" class="btn btn-danger" value="Cerrar" onclick="location.href='Index'"/>  
        </fieldset>
    }
    
</div>