@model List<Application.Poa.ViewModels.TareaViewModel>

@{
    ViewBag.Title = "IndicadorDeTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-box-form">
    
    @using (Html.BeginForm("IndicadorDeTarea", "Poas")){
        <fieldset>
            <legend>Indicador de tarea</legend>

            <div class="form-group">
                @Html.Label("Tarea:")
                <select class="form-control" name="TareaId">

                </select>
            </div>

            <div class="form-group">
                @Html.Label("Descripción:")
                <input name="Descripcion" type="text" class="form-control"/>
            </div>

            <div class="form-group">
                @Html.Label("Unidad de medida:")
                <select class="form-control" name="UnidadDeMedidaId">
                    
                </select>
            </div>

            <div class="form-group">

                <table class="table table-hover table-bordered">
                    <thead>
                    @Html.Label("Programación Mensual")
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th><th><input name="Enero" type="text" class="form-control"/></th>
                        <th>2</th><th><input name="Febrero" type="text" class="form-control"/></th>
                        <th>3</th><th><input name="Marzo" type="text" class="form-control"/></th>
                        <th>4</th><th><input name="Abril" type="text" class="form-control"/></th>
                        <th>5</th><th><input name="Mayo" type="text" class="form-control"/></th>
                        <th>6</th><th><input name="Junio" type="text" class="form-control"/></th>
                        <th>7</th><th><input name="Julio" type="text" class="form-control"/></th>
                        <th>8</th><th><input name="Agosto" type="text" class="form-control"/></th>
                        <th>9</th><th><input name="Septiembre" type="text" class="form-control"/></th>
                        <th>10</th><th><input name="Octubre" type="text" class="form-control"/></th>
                        <th>11</th><th><input name="Noviembre" type="text" class="form-control"/></th>
                        <th>12</th><th><input name="Diciembre" type="text" class="form-control"/></th>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="form-group">
                @Html.Label("Medio de verificación:")
                <input name="Medio de verificación" type="text" class="form-control"/>
            </div>
   
            <div class="form-group">
                @Html.Label("Indicador de actividad al que suma:")
                <select class="form-control" name="ActividadId">

                </select>
            </div>
        
            <input type="submit" class="btn btn-primary" value="Guardar">   
            <button class="btn btn-danger">Cerrar</button>
    </fieldset>  
    }
</div>
