@{
    ViewBag.Title = "IndicadorActividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-box-form">
    
    @using (Html.BeginForm("IndicadorActividad", "Poas")){
        <fieldset>
            <legend>Indicador de actividad</legend>

            <div class="form-group">
                @Html.Label("Actividad:")
                <select class="form-control" name="ActividadId">

                </select>
            </div>

            <div class="form-group">
                @Html.Label("Descripción:")
                <textarea cols="40" rows="5" name="Descripcion" class="form-control"></textarea>
            </div>

            <div class="form-group">
                @Html.Label("Unidad de medida:")
                <select class="form-control" name="UnidadDeMedidaId">

                </select>
            </div>

            <div class="form-group">

                <table class="table table-hover table-bordered">
                    <thead>
                    @Html.Label("Programación Mensual")
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th><th><input name="Enero" type="text" class="form-control"/></th>
                        <th>2</th><th><input name="Febrero" type="text" class="form-control"/></th>
                        <th>3</th><th><input name="Marzo" type="text" class="form-control"/></th>
                        <th>4</th><th><input name="Abril" type="text" class="form-control"/></th>
                        <th>5</th><th><input name="Mayo" type="text" class="form-control"/></th>
                        <th>6</th><th><input name="Junio" type="text" class="form-control"/></th>
                        <th>7</th><th><input name="Julio" type="text" class="form-control"/></th>
                        <th>8</th><th><input name="Agosto" type="text" class="form-control"/></th>
                        <th>9</th><th><input name="Septiembre" type="text" class="form-control"/></th>
                        <th>10</th><th><input name="Octubre" type="text" class="form-control"/></th>
                        <th>11</th><th><input name="Noviembre" type="text" class="form-control"/></th>
                        <th>12</th><th><input name="Diciembre" type="text" class="form-control"/></th>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="form-group">
                @Html.Label("Medio de verificación:") 
                <input name="Medio de verificación" type="text" class="form-control"/>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="Suma" value="true" checked>Suma
                </label>
            </div>

            <input type="submit" class="btn btn-primary" value="Guardar">   
            <button class="btn btn-danger">Cerrar</button>
    </fieldset>  
    }
</div>
