@{
    ViewBag.Title = "Usuarios";
}

<div class="light-box-form">
     @using (Html.BeginForm("Create", "Usuarios")){
        <fieldset>

            <legend>Usuario</legend>
        
            <div class="form-group">
                @Html.Label("Usuario:")
                <input name="NombreUsuario" type="text" class="form-control"/>
                @Html.ValidationMessage("NombreUsuario")
            </div>

            <div class="form-group">
                @Html.Label("Rol del usuario:")
                <select class="form-control" name="RolUsuario">
                    <option value="1">Supervisor</option>
                    <option value="2">Analista</option>
                    <option value="3">Jefe</option>
                    <option value="4">Enlace</option>
                </select>
                @Html.ValidationMessage("RolUsuario")
            </div>

            @Html.CheckBox("Activo")
            <b>
                @Html.Label("Activo")<br/>
            </b>

            <input type="submit" class="btn btn-primary" value="Guardar">
            <input type="button" class="btn btn-danger" value="Cerrar" onclick="location.href='Index'"/> 
        </fieldset>   
    }
</div>